streamlit
pandas
langchain
langchain-core
langchain-community
langchain-ollama
langchain-text-splitters
langchain-classic
langchain-chroma
chromadb
tqdm
rank_bm25
sentence-transformers
transformers
torch
bitsandbytes
accelerate
